[Unit]
Description="ZWave REST service"
After=network.target

[Service]
User=zwave
Group=zwave
RuntimeDirectory=zwave
WorkingDirectory=/srv/www/zwave/zwave
ExecStart=/srv/www/zwave/zwave/venv/bin/python resty.py -s /dev/ttyACM0 --logdir /var/log/zwave config.yaml

[Install]
WantedBy=multi-user.target

